## Unix & Windows executables ##
*
!**/
!*.*
*.exe

### Nix ###
.envrc
shell.nix

### Nim ###
nimcache/
nimblecache/
htmldocs/

### Nim Testing ###
pax
pax.exe
.pax/
.out/
/modpack/
/testresults/
/tests/megatest.nim
/outputExpected.txt
/outputGotten.txt